<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RCEE Marks </title>
  <meta content="we provide RCEE Results" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/favicon.png"rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
  

 
</head>

<body>
  

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="/home"><img src="../static/assets/img/image1.png" alt="ntg" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/home">Home</a></li>
          
          <li><a href="#about">Semester</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#features">Mid</a></li>
          <li><a href="#event">Event</a></li>
          
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>RAMACHANDRA COLLEGE OF ENGINEERING</h1>
            <h2>Accredited by NBA , NAAC</h2>
            <h2>Approved by AICTE,NewDelhi</h2>
            <div class="text-center text-lg-left">
              <a href="#about" class="btn-get-started scrollto">Get Results</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="../static/assets/img/image2.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    
    <!-- ======= Features Section ======= -->
    

    <!-- ======= Counts Section ======= -->
    
    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">

        

        

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="../static/assets/img/details-3.gif" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>Checking Results</h3>
            <p class="font-italic">you can check your results in this site </p>
            <ul>
              <li><i class="icofont-check"></i> we provide your every Semester results here.</li>
              <li><i class="icofont-check"></i> we update your smester and mid marks once they are released.</li>
              <li><i class="icofont-check"></i> we assure that we provide your result accurately and correctly.</li>
            </ul>
            <p>
              you need to enter your details like .,rollno,semester etc., in the form provided in the semester section .
            </p>
            <p>
              once your details were submitted then you can able to see your result and you can print it,note that you need to enter correct details.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="../static/assets/img/details-4.gif" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Asking Questions</h3>
            <p class="font-italic">
              you can share your ideas and reviews with us
            </p>
            <p>
              you can ask any doubt your are having with the site in the form given at the contact section,
              type your name and other details to know who is asking which question,
              we will give answers to your questions
            </p>
            <ul>
              <li><i class="icofont-check"></i> you can ask any kind of questions regarding site .</li>
              <li><i class="icofont-check"></i> we provide answers to the questions which are asking frequently.</li>
              <li><i class="icofont-check"></i> you can check the answers for the questions in FAQ section.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Details Section -->

    <section id="counts" class="counts">
      <div class="container">

        <div class="row" data-aos="fade-up">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">4</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">750</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">8</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <section id="about" class="about">
      
      <div class="container">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Results</h2>
            <p>SEMESTER RESULTS</p>
          </div>
          <div class="row" data-aos="fade-left"></div>
       
          <div class="form-group">
            <form action="{{ url_for('sem') }}" method="post">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"name="email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Rollno"name="name">
            <small id="emailHelp" class="form-text text-muted">enter your correct Name.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Roll Number</label>
            <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Rollno"name="id" required>
            <small id="emailHelp" class="form-text text-muted">I'D issused by College.</small>
          </div>
          <div class="form-group">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"name="loc" required>
              <option>Choose...</option>
              <option value="2-2 results.xlsx">2-2 sem results of 2018 batch</option>
              <option value="1-2 results.xlsx">1-2 sem results of 2019 batch</option>
              
            </select>
      </div>
         
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Gallery</h2>
          <p>Our College Gallery</p>
        </div>

        <div class="row no-gutters" data-aos="fade-left">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
              <a href="../static/assets/img/gallery/p1.png" class="venobox" data-gall="gallery-item">
                <img src="../static/assets/img/gallery/p1.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
              <a href="../static/assets/img/gallery/p2.png" class="venobox" data-gall="gallery-item">
                <img src="../static/assets/img/gallery/p2.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="../static/assets/img/gallery/p3.png" class="venobox" data-gall="gallery-item">
                <img src="../static/assets/img/gallery/p3.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
              <a href="../static/assets/img/gallery/p4.png" class="venobox" data-gall="gallery-item">
                <img src="../static/assets/img/gallery/p4.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <section id="features" class="features">
      <div class="container">

        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Marks</h2>
            <p>MID MARKS</p>
          </div>
          <div class="row" data-aos="fade-left"></div>


          
          
            <div class="form-group">
              <form  action="{{ url_for('mid') }}" method="post">
                <h2>NOTE: Currently no mid marks available.</h2>
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"name="email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Rollno"name="name" required>
              <small id="emailHelp" class="form-text text-muted">enter your correct Name.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Roll Number</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Rollno"name="id" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"name="loc">
                <option selected>Choose...</option>
                <!-- <option value="1-2 results.xlsx">1-2 sem results of 2018 batch</option>
                <option value="1-1 results.xlsx">1-1 sem results of 2019 batch</option> -->
                
              </select>
        </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in">

          <div class="testimonial-item">
            <img src="../static/assets/img/testimonials/kiran.jpg" class="testimonial-img" alt="">
            <h3>Kiran</h3>
            <h4>PROFESSOR</h4>
            
          </div>

          <div class="testimonial-item">
            <img src="../static/assets/img/testimonials/gopi2.jpg" class="testimonial-img" alt="">
            <h3>Gopi Reddy</h3>
            <h4>Student</h4>
            <!-- <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p> -->
          </div>

          <div class="testimonial-item">
            <img src="../static/assets/img/testimonials/kp1.jpg" class="testimonial-img" alt="">
            <h3>Krishna</h3>
            <h4>Student</h4>
            <!-- <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p> -->
          </div>

          <div class="testimonial-item">
            <img src="../static/assets/img/testimonials/rahul.jpg" class="testimonial-img" alt="">
            <h3>Rahul</h3>
            <h4>Student</h4>
            <!-- <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p> -->
          </div>

          <div class="testimonial-item">
            <img src="../static/assets/img/testimonials/saran.jpg" class="testimonial-img" alt="">
            <h3>Saran</h3>
            <h4>Student</h4>
            <!-- <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p> -->
          </div>
          <div class="testimonial-item">
            <img src="../static/assets/img/testimonials/praveen.jpg" class="testimonial-img" alt="">
            <h3>Praveen</h3>
            <h4>Student</h4>
            <!-- <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p> -->
          </div>
          <div class="testimonial-item">
            <img src="../static/assets/img/testimonials/divyesh.jpg" class="testimonial-img" alt="">
            <h3>Divyesh</h3>
            <h4>Student</h4>
            <!-- <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p> -->
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->
    <br><br><br><br>

    <!-- ======= Team Section ======= -->

    <section id="event" class="features">
      <div class="container">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Events</h2>
            <p>Latest events.</p>
          </div><br>
        <h2>Currently no events</h2>

      </div>
    </section><!-- End Features Section -->
    








    <!-- ======= Pricing Section ======= -->
    
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">How to check Sem Results? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  Go to navbar and select Semester enter your mail and enter your roll number which was issused by college and select the year and sem and submit  .
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">How to check Mid Results?  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Go to navbar and select Mid enter your mail and enter your roll number which was issused by college and select the year and Mid and submit .
                </p>
              </div>
            </li>

           

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Ramachandra College Of Engineering.</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>ivssolution0gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 94919 76618</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

            <form action="{{ url_for('report') }}" method="post">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control"  placeholder="Your Name"  required/>
                  
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email"  placeholder="Your Email"  required />
                  
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="sub"  placeholder="Subject"  required/>
                
              </div>
              <div class="form-group">
                <textarea class="form-control" name="mess" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message" required></textarea>
                
              </div>
              
              <div class="text-center"><button type="submit" class="btn btn-primary">Send Request</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>RCEE</h3>
              <p class="pb-3"><em>Ramachandra College Of Engineering.</em></p>
              <p>
                NH-16 Bypass Road, Vatluru (V),<br>
                Eluru-534007,<br>
                West Godavari Dt., A.P.,
                India. <br>
                <br>
                <strong>Phone:</strong> 8333819200<br>
                <strong>Email:</strong> rce_elr@yahoo.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <div class="container">
              <div class="container">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Semester</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#gallery">Gallery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#features">Mid</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#testimonials">Contact</a></li>
            </ul>
          </div>
            </div>
          </div>

         

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>IVSS</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="http://ivss.ml/?i=1">IVSS</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>

  <!--  Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>